@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
   @apply px-4 sm:px-6 lg:px-8 mx-auto max-w-[85rem];
}

.bg-auth-login {
   background-color: #ffffff;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='160' height='160' viewBox='0 0 200 200'%3E%3Cpolygon fill='%23f8fafc' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
}

.dark\:bg-auth-login:is(.dark *) {
   background-color: #262626;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='160' height='160' viewBox='0 0 200 200'%3E%3Cpolygon fill='%232d2d2d' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
}

.clip-panorama {
   clip-path: url(#panorama);
   width: 100%;
   aspect-ratio: 1280/480;
   object-fit: cover;
}

.extend-beyond-parent {
   @apply mx-[calc(-50vw+50%)] w-screen max-w-[100vw] overflow-hidden;
}

.slide {
   text-align: center;
   height: 320px;
   line-height: 320px;
   background: #364d79;
   overflow: hidden;
}

.swiper-pagination-bullet-active {
   @apply bg-primary-500;
}
.swiper-button-next {
   @apply after:content-['next'];
}

.rating .star {
   @apply text-gray-300 dark:text-neutral-400;
}

.rating:has(:checked) .star,
.rating:has(:checked) ~ .rating .star {
   @apply text-amber-400;
}

.checkbox:checked ~ .checkmark-icon .checkmark-fill {
   @apply scale-100;
}

.checkbox:checked ~ .checkmark-icon .checkmark-tick-animated {
   @apply animate-[checkmark_0ms_forwards];
}

.checkbox:checked ~ .checkmark-icon .checkmark-fill-animated {
   @apply animate-scale-check origin-center transform scale-0;
}

.checkbox:checked ~ .checkmark-icon .checkmark-tick-animated {
   @apply animate-[250ms_checkmark_150ms_forwards];
}

.table-view {
   @apply grid-cols-[8rem_1fr] sm:grid-cols-[1fr_repeat(3,6rem)] md:grid-cols-[8rem_1fr_repeat(3,5rem)] lg:grid-cols-[10rem_1fr_repeat(3,8rem)] xl:lg:grid-cols-[10rem_1fr_repeat(3,12rem)];

   grid-template-areas:
      "image info"
      "image price"
      "image rating"
      "button button";
}

.table-view .artwork {
   grid-area: image;
}

.table-view .info {
   grid-area: info;
}

.table-view .price {
   grid-area: price;
}

.table-view .rating {
   grid-area: rating;
}

.table-view .view-btn {
   grid-area: button;
}

@media (min-width: 640px) {
   .table-view {
      grid-template-areas: "info price rating button";
   }
}

@media (min-width: 768px) {
   .table-view {
      grid-template-areas: "image info price rating button";
   }
}
